.App {
  text-align: center;
}

#quote-box {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text {
  color: white;
  font-size: calc(20px + 2vmin);
}

#author {
  color: white;
  font-size: calc(10px + 2vmin);
}

#tweet-quote {
  color: #61dafb;
}


